In this file I'll share the imported libraries in the Colab notebook.
The imported libraries:
* “pandas” (Cell 1)
* “numpy” (Cell 1)
*  the train_test_split function from the “sklearn.model_selection” library (Cell 7)
* accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, and ConfusionMatrixDisplay, all from the “sklearn.metrics” library (Cell 8)
* LogisticRegression from the “sklearn.linear_model” library (Cell 8)
* RandomForestClassifier from the “sklearn.ensemble” library (Cell 8)
* KNeighborsClassifier from the “sklearn.neighbors” library
* “Matplotlib.pyplot” (Cell 8)
* Dense and Dropout from the “tensorflow.keras.layers” library (Cell 12)
* Sequential form the “tensorflow.keras” library (Cell 12)
* to_categorical from the “tensorflow.keras.utils” library (Cell 12)